.root {
  width: 100vw;
  margin: 0;
}
body {
  /* background: #1e5043; */
  background: #4d99fd;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}